
body {

    margin: 0;
    font-family: "Apple LiSung Light", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    background-color: #fff;

}

.header{
    padding: 0.6em 0;
}
.navbar-default{
    background-color: #fff;
    border-color:#fff;
    margin-bottom: 0;
}
.navbar{
    padding-top: 10px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
.navbar-nav{
    margin-left: 47px;
}
.navbar-nav > li{
    float: left;
    padding:0 12px;
}
.navbar-nav > li > a{
    padding:9px 16px;
}
.logo {
    width: 23%;
    float: left;
    text-align:center;
}
.logo img{
    width: 60px;
    height: 60px;
}
.logo a h1{
    font-family: 'Apple LiSung Light', cursive;
    margin-top: 10px;
    width: 56%;
    font-size: 2em;
    margin-bottom: 0;
    color: #000;
    font-weight: 100;
}
.navigation {
    float: left;
    width: 52%;
}
.search-bar {
    width: 21%;
    float: right;
    position: relative;
    margin: 10px 20px 0 0;
}
.search-bar input[type="text"] {
    width: 100%;
    padding: 8px 45px 8px 8px;
    border: 1px solid rgba(99, 43, 9, 0.88);
    background: none;
    display: inline-block;
    outline: none;
    -webkit-appearance: none;
    /*vertical-align: -webkit-baseline-middle;*/
    color: #131212;
    font-size: 1.2em;
}
.search-bar input[type="submit"] {
    background: url(/images/search.png)no-repeat 0px 0px;
    outline: none;
    -webkit-appearance: none;
    border: 0;
    display: inline-block;
    /*vertical-align: -webkit-baseline-middle;*/
    position: absolute;
    width: 24px;
    height: 24px;
    top: 7px;
    left: 206px;
}

/* Effect 7: second border slides up */
.cl-effect-7 a {
    padding: 12px 10px 10px;
    color: #566473;
    text-shadow: none;
    font-weight: 700;
}

.cl-effect-7 a::before,
.cl-effect-7 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(212, 212, 212, 0.57);
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    transform: scale(0.85);
}

.cl-effect-7 a::after {
    opacity: 0;
    -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.cl-effect-7 a:hover::before,
.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::before,
.cl-effect-7 a:focus::after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::after {
    top: 0%;
    opacity: 1;
}
/*single页面*/
.single{
    border-top:2px solid #5ebb61;
    margin-right: -20px;
}
.article-header{
    margin:0 auto ;
}
.article-header h3{
    margin: 20px 0 0 0;
    text-align: center;
    font-weight: 300;
}
.article-header h4{
    margin: 0 0 4px 0;
    text-align: right;
}

.article-content{
    width:100%;
    padding: 10px 10px 10px 20px;
    font-size: 15px;
    /*height: 800px;*/
    background-color: #fff;
    /*-moz-box-shadow:2px 2px 10px #7DD0F8;*/
    /*-webkit-box-shadow:2px 2px 10px #7DD0F8;*/
    /*box-shadow:2px 2px 10px #7DD0F8;*/
    /*overflow-y:scroll;*/
    /*overflow-x:hidden;*/
}
.side-content{
    padding-left: 20px;
}
.side-content h3{
    margin-top: 20px;
    font-size:1.4em;
    color: #03AEFF;
}
.side-content ul{
    margin: 0;
    padding:0;
}
.side-content ul li{
    display: block;
    margin-bottom: 5px;
}

.side-content li a{
    color: #7c7c7c;
    border-bottom:1px solid #a6aaae;
    display: inline-block;
    font-size: 1.2em;
    text-decoration: none;
    padding: 6px 0 0 0;
    font-weight: 400;
    cursor: pointer;
}
.side-content li a:hover{
    border-bottom:none;
    color: #003399;
}
.recent-comment{
    margin-top:20px;
    border-top:2px dashed #5ebb61;
}
/*comment*/
/*.comment-form .eachcomment{*/
    /*/!*border-bottom: 1px dashed #504f4d;*!/*/
/*}*/
.comment-form .usercomment{
    margin-left: 15px;
    font-size: 16px;
    line-height: 21px;
    color: #666666;
    text-align: left;
}
.comment-form .commentauthor{
    margin-right: 15px;
    padding-bottom: 10px;
    text-align: right;
    font-size: 17px;
    color: #0bbb42;

}

.comment-form{
    margin-bottom: 20px;
}
.comment-form form textarea{
    color: #333333;
    width:100%;
    padding: 10px 15px;
    font-size:1.2em;
    margin:10px 10px 10px 0;
    border: 1px solid #efeae1;
    outline: none;
    display: block;
}
.comment-form h3{
    color: #03AEFF;
    margin-left: 10px;
    margin-bottom: 1em;
    text-decoration: none;
    display: block;
}
.comment-form form textarea{
    height: 200px;
    resize: none;
}
.comment-form form #msgbtn{
    color: #000;
    background: #03AEFF;
    padding: 0.4em 1.5em;
    text-decoration: none;
    font-size: 0.9em;
    display: inline-block;
    margin-top: 1em;
    border: none;
    outline: none;
    border: 1px solid #5ebb61;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url("/images/arrow.png") no-repeat 0px 0px;
}

/*blogindex 页面*/
.index-content{
    border-top:2px solid #5ebb61;
    margin-right: -20px;
}
.content-grids{
    margin-top: 4em;
}
.content-grid-info img{
    width:669px;
    height: 320px;
}
.post-info{
    background:#fff;
    padding: 0.8em;
}
.post-info h4{
    color: #afafaf;
    font-family: "Apple LiSung Light", Helvetica, Arial, sans-serif;
    font-size:1.2em;
    margin-left: 0.3em;
    margin-bottom: 0.7em;
}
.post-info h4 a{
    font-size: 1.2em;
    color:#00aeff;
    margin-right: 0.7em;
    display: inline-block;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
.post-info h4 span{
    color:#5ebb61;
}
.post-info h4 a:hover{
    color: #4a5054;
}
.post-info p{
    font-family: "Apple LiSung Light", Helvetica, Arial, sans-serif;
    color:#9a9da0;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 1em;
}
.post-info a span{
    background: url(/images/more.png) no-repeat 50% 50%;
    width: 14px;
    height: 15px;
    display: inline-block;
    margin-right:10px;
}
.post-info a{
    color:#9a9da0;
    font-weight: 400;
    display:inline-block;
    font-size: 1.4em;
    text-decoration: none;
}
.post-info a:hover{
    color:#00aeff;
}
.content-grid-info{
    position: relative;
    margin-bottom: 1.2em;
}
.post-info:before, .post-info:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.post-info:after
{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

/*footer*/
.footer{
    width: 100%;
    height: 20px;
}