<component name="libraryTable">
  <library name="spring-aop-4.0.4.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-aop-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-aspects-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-beans-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-context-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-context-support-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-core-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-expression-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-instrument-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-instrument-tomcat-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-jdbc-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-jms-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-messaging-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-orm-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-oxm-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-test-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-tx-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-web-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-webmvc-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-webmvc-portlet-4.0.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Java/Mylib/spring4.0.4-dist/spring-websocket-4.0.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>